{% extends 'base.html' %}                         {% load crispy_forms_tags %}     
{% load static %}
{% block title %}                                 Login
{% endblock title %}   

{% block style %}
<link rel="stylesheet" href="{% static 'profiles/css/base.css' %}">
{% endblock style %}

{% block navbar %}
{% include 'profiles/navbar.html' %}
{% endblock navbar %}                                                                               {% block content %}     
<main>
	{% if msg %}
	<div class="alert alert-info" role="alert" >
		{{msg}}
	</div>
	{% endif %}
<form action="" method="POST" class="form mt-5">
	<h1>Login</h1>
	{% csrf_token %}
	{% if error %}
	<div class="alert alert-danger" role="alert" >
		{{ error }}
	</div>
	{% endif %}
	{{login_form|crispy}}                             <button type="submit" class="btn btn-success mt-4 form-control">Login</button>
        <div class="extra-text">don't have an account? </div>             
	<button class="btn btn-outline-success mt-4 mb-2 form-control" onClick=window.location="{% url 'profiles:signup' %}">Signup</button>
</form>
</main>

{% endblock content %}
