{% extends 'profiles/login.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
signup
{% endblock title %}

{% block scripts %}
<script src="{% static 'profiles/js/signup.js' %}" defer ></script>
{% endblock scripts %}

{% block content %}
<main>
<form action="" method="POST" class="form mt-5">
	<h1>Signup</h1>
	{% csrf_token %}
	{% if  error %}
	<div class="alert alert-danger" role="alert">
		{{error}}
	</div>
	{% endif %}
	{% for field in signup_form %}
	{% if field.label == 'Public key' %}
	<div hidden="true" id="public_key_div">
		{{field|as_crispy_field}}
	</div>
	{% else %}
	
	{{field|as_crispy_field}}
	{% endif %}
	{% endfor %}

		
	<button type="submit" class="btn btn-success mt-4 form-control"> Signup </button>
	<div class="extra-text"> already have an account?</div>
	<button class="btn btn-outline-success mt-4 mb-2 form-control" onClick=window.location="{% url 'profiles:login' %}">Login</button>
</form>
	</main>

{% endblock content %}
