/* Navbar */
.custom-navbar{
	margin-top: 10vh;
}
.nav-item .active {
	 background-color: green;
	 border-radius: 10px;
}
.navcontainer{
	display:flex;

}
.frame1{
	width:80%;
	min-height:40px;
}
.frame2{
	width:20%;
	min-height:40px;
	 margin-right:0px;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
}

.frame2 img{
	 width:30px;
	 height: 30px;
	 border-radius: 50%;
	 border-style:solid;
	 border-color:#ababab;
	 padding: 0;
	 margin: 0;
}
.frame2 a{
	 font-size: medium;
	 padding-bottom: 0px;
	 padding: 0;
	 margin: 0;
}

.frame2 .btn {
	border-radius: 15px;
	width:5em;
}

.navbrand{
	 /* bootstrap class*/
	 color:green;
	 font-family:'Sofia', sans-serif;
	 font-shadow: 4px 4px 4px #ababab
}

