{% extends 'base.html' %}
{% load static %}
{% block title %}
sales list
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'sales/css/dashboard.css' %}">
{% endblock style %}

{% block content %}
<nav class="sidebar">
    <h2 class="sidebar-title">Dashboard</h2>
    <ul>
        <li>Sales</li>
        <li>Reports</li>
    </ul>
</nav>
<div class="content-container">
<div class="top-section">
    <div class="top-section-box"></div>
    <div class="top-section-box"></div>
    <div class="top-section-box"></div>
</div>
<div class="main-section"></div>
</div>
 {% endblock content %}