{% extends 'base.html' %}
{% load static %}
{% block title %}
sales list
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'sales/css/dashboard.css' %}">
{% endblock style %}

{% block scripts %}
<script type="text/javascript" src="{% static 'sales/js/dashboard.js' %}" ></script>
{% endblock scripts %}

{% block content %}
 
<nav class="sidebar hidden  sidebar-alt">
    <h2 class="sidebar-title">Dashboard</h2>
    <ul>
        <li>Sales</li>
        <li>Reports</li>
    </ul>
</nav>

<div class="content-container">
<div class="top-section">
    <div class="top-section-box"></div>
    <div class="top-section-box"></div>
    <div class="top-section-box"></div>
</div>
<div class="main-section"></div>
</div>
<div hidden>
    <button class="btn btn-outline-success sidebar-btn"><img src="/media/icon/menuicon.png" class="sidebar-icon"></button>
</div>
 {% endblock content %}