{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
sales
{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'sales/js/home.js'%}" defer></script>
<style>
.modal-dialog	{
	height:100vh;
	width:100vw;

}
</style>
{% endblock scripts %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="reportModalLabel">Save Report</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body " id="modal-body" >

        <div id="alert-box"></div>                        <form id="report-form">
		{{report_form|crispy}}
		<button type="submit" class="btn btn-info mt-2" id="save-report-btn">Save Report</button>
	</form>
      </div>
    </div>
      </div>

    </div>
  </div>
</div>

<!--dropzone-->
<h3>Upload File</h3>
<form id="myDropzone" class="dropzone mb-5">
	<div id="dz-alert-box"></div>
	{% csrf_token %}
<div class="dz-message">
	drop csv file here or click to upload
</div>
</form>

	<h3>Search</h3>
{% if no_data %}
<div class="alert alert-warning" role="alert">
	{{ no_data }}
</div>
{% endif %}
<form action="" method="POST">
	{% csrf_token %}
	{{ searchform|crispy }}
	
	<button type="submit" class="btn btn-primary mt-3">Search</button>
</form>

{% if sales_df %}

<br>
<div class="table-and-chart">
<h3>TABLE</h3>
{{sales_df|safe}}
</div>
<br>

<div class="table-and-chart">
<img src="data:image/png;base64,{{chart|safe}}" alt='chart for data frame' id="img">
</div>

<button class="btn btn-primary not-visible mt-5" id="report-btn" data-bs-toggle="modal" data-bs-target="#reportModal">add report</button>
{% endif %}

{% endblock content %}
