{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'index/css/style.css' %}">
{% endblock style %}
{% block content %}

{% if user.is_authenticated %}

<p style="font-size:2em;">
Welcome to reports Alchemy <b>
  
{{user.username}} </b>
</p>
<a href="{% url 'sales:dashboard' %} " class="btn btn-warning cta">Dashboard</a>

<a href="{% url 'reports:index' %}" class="btn btn-warning cta" >View Reports</a>
<a href="{% url 'sales:home' %}" class="btn btn-warning cta">Generate report</a>
{% else %}
<p style="font-size:2em;">
Welcome to Reports Alchemy
</p>
<p>If you do not wish to create an account, you can explore with the demo account.</p>
<p>username for organization: Demo_Organization</p>
<p>username for staff: Demo_Staff</p>
<p>password for both: demopassword</p>

{% endif %}

{% endblock content %}
