 
@keyframes slide2 {
  0%{
    margin-left: 10vw;
    border-top-color: red;
    box-shadow: 2px 2px 5px 0px red;
    visibility: hidden;
  }
  25%{
     margin-left: 8vw;
     border-right-color: red;
    box-shadow: 2px 2px 5px 0px red;
  }
  
  50%{
     margin-left: 6vw;
    border-bottom-color: red;
  }
  75%{
     margin-left: 4vw;
    border-left-color: red;
  }
  100%{
     margin-left: 2vw;
  }
  
}

.cta {
  /* Call to Action CTA buttons*/
  animation-duration: 0.8s;
  animation-name: slide2;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  
}

