 {% load static %}
<!doctype html>
  <html lang="en">
  <head>
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <!--favicon-->
    
    <!--bootstrap-->
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
        
    <!-- jquery-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" defer ></script>
    
    <!-- dropzone js -->
    
    <!-- custom js and css-->
    <link rel="stylesheet" href="{% static 'sales/css/style.css' %}">
      <link rel="stylesheet" href="/static/css/navbar.css">
    <script src="{% static 'js/navbar.js' %}" defer></script>
    
    {% block scripts %}
    {% endblock scripts %}
    {% block style %}
    {% endblock style %}
    
    <title>Report App|{% block title %}{% endblock title %}</title>
    
  </head>
  <body>

   {% block navbar %}
   {% include "navbar.html" %}
   {% endblock navbar %}

    <div class="container mt-3 mb-3">
      {% block content %}
      {% endblock content %}
      
    </div>
    
    <!-- bootstrap js-->
    <script type="application/javascript"src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    
  </body>
  </html>

