 :root{
    --brand-color-bright: rgb(7, 250, 7);
    --brand-color-light:  rgb(212, 247, 210);
 }
 
 .cont{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 20vh ;
    left:0;
    right: 0;
    border-style: none;
    flex-grow: 1;
 }

 .sidebar{
    float:left;
    height: 100em;
    width: 30vw;
    background-color: var(--brand-color-light);
 }
 .sidebar-title{
    font-weight: bold;
    font-size: xx-large;
    color:white;
 }
.sidebar ul li{
    list-style-type:none;
    margin-top: 10px;
}
 .content-container{
    height: 100em;
    width:75vw;
    padding: 0%;

 }
 .sidebar-btn{
   /* the class is in the navbar.html*/
   display: none;
   position: fixed;
   padding: 0;
 }

 .top-section{
    display: flex;
    width:100%;
    height: 10%;
    border-style: none;
 }

 .top-section-box{
    width: 33.33%;
    height: 100%;
    border-style: hidden;
    box-shadow: 1px 1px 5px #ababab;
    background-color: white;
    border-radius: 5px;
 }

 .main-section{
    width: 100%;
    height: 90%;
    border-style: hidden;
    box-shadow: 1px 1px 5px #ababab;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    
 }
 
 
 
@media screen  and (max-width:768px) {
    .hidden{
      display: none;
    }
    .sidebar-alt{
      position: fixed;
      width: 60vw;
    }
    .content-container{
      width:100vw;
    }
    .top-section{
      height: 10%;
    }
    .top-section-box{
      height: 90%;
    }
    .sidebar-btn{
      display: block;
      padding: 0;
    }
     .sidebar-btn img{
      width: 25px;
      height: 25px;
    }

}